$filters_title: #1D353D;

.filters {
  &__title {
    margin: 0;
    padding: 0;
    color: $filters_title;
    font-size: 15px;
    line-height: 28px;
    font-weight: 500;
    margin-bottom: 13px;
  }

  &__list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
  }
}